@import './base.css';

body:has(.menu.menuActive) {
  position: fixed;
}

h1,
h2 {
  text-transform: uppercase;
  line-height: 1;
  color: rgba(245, 245, 245, 1);
  font-family: 'roboto', sans-serif;
  font-weight: 400;
  .accent {
    position: relative;
    font-weight: 700;
    font-style: italic;
    width: fit-content;
    color: rgb(255, 255, 255);
  }
}

h1 {
  color: rgba(255, 255, 255, 1);
}

button {
  padding: 1rem;
  background-color: #000;
  color: white;
  border-radius: 8px;
  border: 1px solid white;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
  &:hover {
    background-color: #fff;
    color: black;
  }
}
